
// Basic colors
$white: #FFFFFF;

// Background colors
$sami-bg: #1A1E20;
$sami-box-bg: #010405;

// Header colors
$sami-header: #172427;
$sami-header-2: #172427;
$sami-header-2-hover: #59828B;

// Accent colors
$sami-accent: #80CEE1;
$sami-accent-hover: #A3E1F0;
$sami-accent-2: #59828B;

// Discord colors
$discord-header: #5865F2;
$discord-header-hover: #7289dA;

// Twitter colors
$twitter-header: #1DA1F2;
$twitter-header-hover: #29B4FF;