@import "fonts.css";

.stat-box {
	height: 4rem;
	width: 15rem;
	max-width: fit-content;
	padding: 8px;
}
.stat-box a img {
	width: 9rem;
}

.btn-group .main-button {
	margin: 0 1rem 0 1rem;
}
.btn-group {
    display: contents;
}
