@import "navbar.css";
@import "components.css";
@import "fonts.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

:root {
	--sami-bg: #343434;
	--sami-box-bg: #202022;
	--sami-header: #252525;
	--sami-header-2: #2B2E2E;
	--sami-header-2-hover: #313535;
	--sami-accent: #80CEE1;
	--sami-accent-hover: #A3E1F0;
	--sami-accent-2: #59828B;
	--discord-header: #7289dA;
	--discord-header-hover: #839AEB;
	--twitter-header: #1DA1F2;
	--twitter-header-hover: #29B4FF;
}

body {
	background-color: var(--sami-bg) !important;
}

html {
	overflow-x: hidden;
	user-select: none;
}

a, a:active, a:focus, a:hover {
    outline: 0;
}

#footer {
	background: var(--sami-header);
	text-align: left;
}

#loader {
	z-index: 999;
	position:fixed;
	padding:0;
	margin:0;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,1);
	animation: fade-out-fwd 1s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}
