@import "animations.css";
.navbar-bg {
	background: url(https://raw.githubusercontent.com/JayRizuri/jayrizuri.github.io/master/C761CF81-8205-4B7A-B2A9-E18D5EDD0406.jpeg);
}
.nav-divider {
	display: var(--js-header-shown);
}
.nav-divider a {
    animation: none;
}
.navbar-nav {
	animation: slide-in-left 0.6s cubic-bezier(.25,.46,.45,.94);
}
.nav-item a {
	padding: .05rem 0.1rem;	
}

.header-pre img {
	border-radius: 50%;
	max-width: 15rem;
	border: 5px #FFFFFF dashed !important;
}
.header-pre img:not(:hover) {
	animation: unspin .6s cubic-bezier(.68,-.55,.265,1.55) 1 reverse both;
}
.header-pre img:hover {
	animation: spin .6s linear infinite;
}
