// Info box
.infobox {
	background-color: var(--sami-accent);
	padding: 1rem 2rem;
	width: max-content;
	border: solid var(--sami-accent-2) 5px;
	border-radius: 25px;
	position: relative;
	left: 6rem;
	bottom: 6rem;
}

// Splash text

#splash {
	font-family: "Open Sans Condensed";
	font-size: 1.8rem;
	font-weight: 600;
}

// Descriptions

.description {
	text-align: left;
	font-family: "Open Sans";
	font-size: 130%;

	[class^="descheader-"] {
		position: relative;
		right: 1rem;
		top: 0.1rem;
	}
}

#longdesc {
	background: var(--sami-box-bg);
	max-width: 84vw;
	border-radius: 12.5px;
	border: solid var(--sami-accent-2) 3px;
	padding: 1rem;
}

[class^="descheader-"] p {
	border-bottom: solid var(--sami-accent-2) 3px;
	display: inline;
}

.descheader- {
	&1 p {
		font-size: 150%;
		font-weight: 800;
	}

	&2 p {
		font-size: 1.8rem;
		font-weight: 800;
	}

	&3 p {
		font-size: 1.75rem;
		font-weight: 800;
	}

	&4 p {
		font-size: 1.55rem;
		font-weight: 800;
		position: relative;
		right: 0.76rem;

		&::before {
			content: "–";
			font-family: revert;
			font-size: 1.8rem;
			font-weight: 100;
		}
	}

	&5 p {
		font-size: 1.35rem;
		font-weight: 800;
	}
}

// Stat boxes

.stat-box {
	height: auto;
	width: auto;
	max-width: min-content;
	
	a img {
		width: 9rem;
	}
}

// Footer

#footer {
	background-color: var(--sami-header);
	text-align: left;
	p {
		display: inline;
	}
}

// Breakpoints

@media (max-width: 727px) {
	.description {
		text-align: -webkit-center;
	}

	#longdesc {
		max-width: 36rem;
	}

	.infobox {
		left: 0;
		bottom: 3.3rem;
	}

	.description [class^="descheader-"] {
		position: unset;
	}
}

@media (min-width: 728px) {
	.infobox {
		display: inline-block;
		left: 6rem;
		bottom: 5rem;
	}

	.description {
		margin: -5rem 0 0rem 10%;
	}
}

