@import "../fonts.css";

$breakpoint-mobile: 728px;

// Navbar

.navbar {
	width: var(--js-screen-width);
	margin: 0 0 0 0;

	// Themes

	&-dark {
		background-color: var(--sami-header);
	}

	&-brand {
		font-family: "Noto Sans KR";
	}

	&-header {
		margin: 0 0 2rem 0;
		border-bottom: var(--primary-600) solid 5px;
		background-image: linear-gradient(
			135deg,
			var(--secondary-200) 4.76%,
			var(--primary-200) 4.76%,
			var(--primary-200) 25%,
			#ffffff 25%,
			#ffffff 29.76%,
			var(--primary-200) 29.76%,
			var(--primary-200) 50%,
			var(--secondary-200) 50%,
			var(--secondary-200) 54.76%,
			var(--primary-200) 54.76%,
			var(--primary-200) 75%,
			#ffffff 75%,
			#ffffff 79.76%,
			var(--primary-200) 79.76%,
			var(--primary-200) 100%
		);
		background-size: 296.98px 296.98px;
		justify-content: center !important;
		padding: {
			bottom: 2.5rem !important;
			top: 2.5rem !important;
		}

		#tagline {
			padding: 0 25px 0 10px;
		}

		img {
			width: 12rem;
			position: relative;
			margin-left: 20px;
			right: 2rem;
			border: var(--primary-600) solid 0.3rem;
			border-radius: 50%;
			&:hover {
				animation: spin 0.75s ease-in-out;
			}
		}

		span {
			line-height: 4.2rem;
			font-family: "Titillium Web";
			font-size: 3rem;
			text-shadow: 0.2rem 0.2rem 0px var(--primary-600), 0.3rem 0.3rem 0px var(--primary-600),
				-1px -1px 0px var(--primary-600), 1px -1px 0px var(--primary-600);

			#name {
				font-size: 4.78rem;
			}
		}
	}
}

// Navbar buttons

#main-navbuttons,
#mobile-navbuttons {
	padding: 0;
	.container-fluid {
		padding: 0;
	}
}

#main-navbuttons[expanded="true"] {
	border-bottom: none;
}

#mobile-navbuttons[expanded="false"] {
	display: none;
}

.navbuttons {
	border-bottom: var(--primary-600) solid 5px;
	margin: 0;
	background: var(--surface-0DP);

	&-btns {
		text-decoration: none;
		display: flex;
		li {
			list-style-type: none;
			font-family: "Francois One";
		}
	}
}

.navbutton {
	color: var(--on-surface);
	text-decoration: none;

	background: var(--surface-0DP);

	display: flex;
	position: relative;

	margin: 0;
	padding: {
		top: 9px;
		right: 15px;
		bottom: 10px;
		left: 30px;
	}

	align-items: center;

	&:hover {
		color: #ffffff;
		background-color: var(--surface-1DP);

		span {
			color: #ffffff;
			background-color: var(--surface-1DP);
		}
	}

	&:hover::after {
		border-color: var(--surface-1DP) transparent;
	}

	&-avatar {
		text-decoration: none;
		background-image: url(http://cdn.samidb.xyz/avatar.jpg);
		background-position: center;
		background-size: 150px;
	}

	&::after {
		content: " ";

		// Sizing
		width: 0;
		height: 0;

		border-color: var(--surface-0DP) transparent;
		border-style: solid;
		border-width: 2.5rem 1.1rem 0 0;

		padding-left: 1px;
		position: absolute;
		z-index: 1;

		right: -15px;
		top: 0;
	}

	span {
		font-size: 1.2rem;
		padding: {
			left: 0.2rem;
			right: 0.2rem;
		}
	}

	// Brands

	&-twitter {
		background-color: var(--twitter-header);

		span {
			background-color: var(--twitter-header);
		}

		&:hover {
			background-color: var(--twitter-header-hover);
		}

		&::after {
			border-color: var(--twitter-header) transparent;
		}

		&:hover::after {
			border-color: var(--twitter-header-hover) transparent;
		}
	}

	&-discord {
		background-color: var(--discord-header);

		span {
			background-color: var(--discord-header);
		}

		&:hover {
			background-color: var(--discord-header-hover);
		}

		&::after {
			border-color: var(--discord-header) transparent;
		}

		&:hover::after {
			border-color: var(--discord-header-hover) transparent;
		}
	}
}

.navbutton[expanded="true"] {
	background-color: var(--surface-1DP);

	i {
		background-color: var(--surface-1DP);
	}

	&::before {
		border-color: transparent transparent var(--surface-1DP) !important;
		background-color: var(--surface-1DP);
	}
}

@media (min-width: 728px) {
	.desktop-buttons {
		display: block;
	}

	#mobile-expand-toggle {
		display: none;
	}

	#mobile-navbuttons {
		display: none;
	}
}

@media (max-width: 727px) {
	.desktop-buttons {
		display: none;
	}

	#mobile-expand-toggle {
		display: block;
	}

	#mobile-navbuttons {
		display: block;
	}
}
