@import "../colors";

// Info box
.infobox {
	color: var(--on-primary);
	background-color: var(--primary-300);
	padding: 1rem 2rem;
	width: max-content;
	border: solid var(--primary-500) 5px;
	border-radius: 25px;
	position: relative;
	left: 6rem;
	bottom: 6rem;
}

// Splash text

#splash {
	font-family: "Open Sans Condensed";
	font-size: 1.8rem;
	font-weight: 600;
}

// Descriptions

.description {
	text-align: left;
	font-family: "Open Sans";
	font-size: 130%;
	width: -webkit-fill-available;
	background: var(--surface-1DP);

	&.left {
		border: solid var(--primary-400) 3px;
		border-radius: 0 1.25rem 1.25rem 0;
		border-left: none;

		& [class^="descheader-"] {
			position: relative;
			left: 1rem;
			top: 0.1rem;
		}
	}

	img {
		border: solid var(--secondary-400) 3px;
	}

	border-radius: 1.25rem 0 0 1.25rem;
	border: solid var(--primary-400) 3px;
	border-right: none;

	padding: {
		top: 1.5rem;
		left: 2rem;
		bottom: 1.5rem;
		right: 2rem;
	}

	margin: {
		bottom: 3rem !important;
	}

	[class^="descheader-"] {
		position: relative;
		right: 1rem;
		top: 0.1rem;
	}

	#longdesc {
		padding-right: 1rem;
		word-wrap: normal;
	}

	h1,
	h2,
	h3 {
		display: block;
		font-weight: bold;
		width: fit-content;
	}
}

#longdesc {
	// background: var(--surface-1DP);

	// border-radius: 1.25rem 0 0 1.25rem;
	// border: solid var(--primary-400) 3px;
	// border-right: none;

	padding: 1rem;
}

[class^="descheader-"] p {
	border-bottom: solid var(--primary-400) 3px;
	display: inline;
}

.descheader- {
	&1 p {
		font-size: 150%;
		font-weight: 800;
	}

	&2 p {
		font-size: 1.8rem;
		font-weight: 800;
	}

	&3 p {
		font-size: 1.75rem;
		font-weight: 800;
	}

	&4 p {
		font-size: 1.55rem;
		font-weight: 800;
		position: relative;
		right: 0.76rem;

		&::before {
			content: "–";
			font-family: revert;
			font-size: 1.8rem;
			font-weight: 100;
		}
	}

	&5 p {
		font-size: 1.35rem;
		font-weight: 800;
	}
}

// Stat boxes

.stat-box {
	height: auto;
	width: auto;
	max-width: min-content;

	a img {
		width: 9rem;
	}
}

.statbox {
	background-color: var(--surface-1DP);
	width: fit-content;

	border-radius: 1.25rem;
	border: solid var(--primary-400) 3px;

	padding: 2rem;

	h3 {
		font-family: "Open Sans";
		font-weight: 800;
		font-size: 2.6rem;

		line-height: 1px;
		margin: {
			bottom: 1.8rem;
		}
	}
}

.statcol {
	display: inline-flex !important;

	padding: 2rem;

	h4 {
		display: flex;
		width: max-content;
		font-weight: 800;
		font-size: 1.8rem;
		margin-bottom: -1rem;
	}

	i {
		z-index: 6;
		font-size: 2.8rem;
		margin-right: 1.4rem;
		padding: 0.5rem;
		align-self: center;
	}

	div {
		font-weight: 100;
		text-align: left;
		padding-left: 7rem !important;
		max-width: inherit;
		width: -webkit-fill-available !important;
		padding: 0.7rem;
		background-color: var(--surface-3DP);
		border-radius: 1.25rem;
		margin-left: -7rem;
		z-index: 5;
	}
}

.mobile .row .statcol {
	font-weight: 100;
	text-align: left;
	max-width: inherit;
    margin: 1rem 0;
	width: -webkit-fill-available !important;
	margin-left: 0.7rem !important;
	background-color: var(--surface-3DP);
	border-radius: 1.25rem;
	z-index: 5;
	display: grid !important;
}

.featlist {
	i {
		color: var(--success);
	}
}

#this-is-a-bucket {
	// dear god...

	// theres more.

	// no

	text-decoration: none;
	color: var(--on-surface);
	cursor: text;
}

// Footer

#footer {
	padding: 1rem;
	text-align: left;
	p {
		display: inline;
	}
}

// Breakpoints

@media (max-width: 727px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	.description {
		text-align: -webkit-center;
		img {
			max-width: -webkit-fill-available;
		}
	}

	#longdesc {
		max-width: 36rem;
	}

	.infobox {
		left: 0;
		bottom: 3.3rem;
	}

	.description [class^="descheader-"] {
		position: unset;
	}
}

@media (min-width: 728px) {
	.toc {
		margin: 0 70% 0 0 !important;
		width: 30% !important;
	}
	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}
	.col-9 {
		position: absolute;
		right: 0;
		margin-bottom: 4rem !important;
	}

	.infobox {
		display: inline-block;
		left: 6rem;
		bottom: 5rem;
	}

	.description {
		margin: 0 0 0 10%;

		#longdesc {
			padding-right: 5rem;
			display: flex;
			span {
				line-height: 2rem;
			}
		}

		img {
			margin-left: auto;
			margin-top: -5rem;
		}
		#longdesc {
			img {
				margin-top: -5rem;
			}
		}
	}

	.description.left {
		margin: 0 10% 0 0;
		padding-bottom: 0.5rem;
		#longdesc {
			img {
				margin-top: -5rem;
			}
		}
		&.col-2 {
			position: absolute;
			left: 0;
		}
	}
}
